* {
    padding: 0;
    margin: 0;
    background: lightcyan;
}

h1, h2 {
    color: darkblue;
    text-align: center;
    margin-bottom: 15px;
}

h3 {
    color: darkblue;
    text-align: center;
    margin-bottom: 10px;
}

section {
    display: block;
    border: 5px solid darkblue;
    align-content: center;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 20px;
}

input {
    display: inline-flex;
    flex-wrap: wrap;
    margin-left: 35%;
}

li {
    display: flex;
    flex-wrap: wrap;
    color: darkblue;
    margin-top: -20px;
    margin-bottom: 20px;
    margin-left: 40%;
    margin-right: 40%
}


p {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 15px;
    margin-left: 350px;
    margin-right: 350px;
    color: darkblue;
}

button {
    justify-content: center;
    background-color: darkblue;
    color: lightcyan;
    cursor: pointer;
    font-size: 15px;
    text-align: center;
    max-width: 500px;
    padding: 5px;
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 48%;
    margin-right: 47%;
}

.btn {
    justify-content: center;
    background-color: darkblue;
    color: lightcyan;
    cursor: pointer;
    font-size: 15px;
    text-align: center;
    max-width: 500px;
    padding: 5px;
    border-radius: 8px;
    margin-top: 20px;
    margin-left: 45%;
    margin-right: 44%;
}

.p {
    text-align: center;
    color: darkblue;
    margin-left: 45%;
    margin-right: 44%;
}

@media screen and (max-width: 1200px) {
    body {
      width: 100%;
    }
  }

@media screen and (max-width: 992px) {
    body {
      width: 50%;
    }
  }
  
  /* Cards are stacked on top of each other at 768px or smaller */
  @media screen and (max-width: 768px) {
    body {
      width: 25%;
    }
  }